{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no"
    />
    <link href="{% static 'images/favicon.png' %}" rel="icon" />
    <title>Documentation | PYTEST</title>
    <meta
      name="description"
      content="Your ThemeForest item Name and description"
    />
    <meta name="author" content="harnishdesign.net" />
    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css"
    />
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <!-- Stylesheet
============================== -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
    />
    <!-- Font Awesome Icon -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'vendor/font-awesome/css/all.min.css' %}"
    />
    <!-- Magnific Popup -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'vendor/magnific-popup/magnific-popup.min.css' %}"
    />
    <!-- Highlight Syntax -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'vendor/highlight.js/styles/github.css' %}"
    />
    <!-- Custom Stylesheet -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/stylesheet.css' %}"
    />
  </head>

  <body data-spy="scroll" data-target=".idocs-navigation" data-offset="125">
    <!-- Preloader -->
    <div class="preloader">
      <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <!-- Preloader End -->

    <!-- Document Wrapper   
=============================== -->
    <div id="main-wrapper">
      <!-- Header
  ============================ -->
      <header id="header" class="sticky-top">
        <!-- Navbar -->
        <nav class="primary-menu navbar navbar-expand-lg navbar-dropdown-dark">
          <div class="container-fluid">
            <!-- Sidebar Toggler -->
            <button
              id="sidebarCollapse"
              class="navbar-toggler d-block d-md-none"
              type="button"
            >
              <span></span><span class="w-75"></span><span class="w-50"></span>
            </button>

            <!-- Logo -->
            <a class="logo ml-md-3" href="index.html" title="iDocs PYTEST">
              <img src="{% static 'images/logo.png' %}" alt="iDocs Template" />
            </a>
            <span class="text-2 ml-2">v1.0</span>
            <!-- Logo End -->

            <!-- Navbar Toggler -->
            <button
              class="navbar-toggler ml-auto"
              type="button"
              data-toggle="collapse"
              data-target="#header-nav"
            >
              <span></span><span></span><span></span>
            </button>

            <div
              id="header-nav"
              class="collapse navbar-collapse justify-content-end"
            >
              <ul class="navbar-nav">
                <li class="dropdown">
                  <a class="dropdown-toggle" href="#">Dropdown</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li class="dropdown">
                      <a class="dropdown-item dropdown-toggle" href="#"
                        >Dropdown Action</a
                      >
                      <ul class="dropdown-menu">
                        <li>
                          <a class="dropdown-item" href="index.html">Action</a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="feature-header-dark.html"
                            >Another Action</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="feature-header-primary.html"
                            >Something Else Here</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item" href="index-2.html"
                            >Another Link</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Another Action</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Something Else Here</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a
                    target="_blank"
                    href="https://themeforest.net/user/harnishdesign/portfolio?ref=HarnishDesign"
                    >Other Template</a
                  >
                </li>
                <li>
                  <a
                    target="_blank"
                    href="https://themeforest.net/user/harnishdesign/#contact?ref=HarnishDesign"
                    >Support</a
                  >
                </li>
              </ul>
            </div>
            <ul class="social-icons social-icons-sm ml-lg-2 mr-2">
              <li class="social-icons-twitter">
                <a
                  data-toggle="tooltip"
                  href="http://www.twitter.com/harnishdesign/"
                  target="_blank"
                  title=""
                  data-original-title="Twitter"
                  ><i class="fab fa-twitter"></i
                ></a>
              </li>
              <li class="social-icons-facebook">
                <a
                  data-toggle="tooltip"
                  href="http://www.facebook.com/harnishdesign/"
                  target="_blank"
                  title=""
                  data-original-title="Facebook"
                  ><i class="fab fa-facebook-f"></i
                ></a>
              </li>
              <li class="social-icons-dribbble">
                <a
                  data-toggle="tooltip"
                  href="http://www.dribbble.com/harnishdesign/"
                  target="_blank"
                  title=""
                  data-original-title="Dribbble"
                  ><i class="fab fa-dribbble"></i
                ></a>
              </li>
            </ul>
          </div>
        </nav>
        <!-- Navbar End -->
      </header>
      <!-- Header End -->

      <!-- Content
  ============================ -->
      <div id="content" role="main">
        <!-- Sidebar Navigation
	============================ -->
        <div class="idocs-navigation bg-light">
          <ul class="nav flex-column">
            <li class="nav-item active">
              <a class="nav-link active" href="#idocs_start1"
                >What is testing</a
              >
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="#idocs_installation1"
                    >What is Testing</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#idocs_html_structure1"
                    >Testing Types</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#idocs_sass1">Unit Test</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#idocs_color_schemes1"
                    >What is Pytest
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#idocs_theme_customization1"></a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#idocs_start">Pytest</a>
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="#idocs_installation"
                    >Installation</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#idocs_html_structure"
                    >Create your first test</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#idocs_sass">Run multiple tests</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#idocs_color_schemes"
                    >Assert that a certain exception is raised</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#idocs_theme_customization"></a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#idocs_layout">Demo_Practice</a>
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="#idocs_header"
                    >Demo Test using Pytest</a
                  >
                </li>
                {% comment %}
                <li class="nav-item">
                  <a class="nav-link" href="#idocs_navbar"
                    >Fixtures & Fixture Factory</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#idocs_sidebar"
                    >Factory Boy and Faker</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#idocs_footer"
                    >Testing with Pytest, Selenium</a
                  >
                </li>
                {% endcomment %}
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#idocs_html_structure5"
                >Performance Test</a
              >
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="#idocs_installation5"
                    >What is Performance Test</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#idocs_sass5">pytest benchmark</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#idocs_color_schemes5"
                    >Pytest-Timeout
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <!-- Docs Content
	============================ -->
        <div class="idocs-content">
          <div class="container">
            <section id="idocs_start1">
              <h1>Documentation</h1>
              <h2>Get Started With Pytest Documentation</h2>
            </section>

            <hr class="divider" />

            <!-- Installation
		============================ -->
            <section id="idocs_installation1">
              <h2>What is Testing</h2>
              <p class="lead">
                Testing is the process of evaluating a system or its components
                with the intent to find whether it satisfies the specified
                requirements or not. Testing is a critical step in the software
                development process, as it helps to ensure that the software is
                of high quality and is fit for its intended purpose.
              </p>
              <p>
                There are several different types of tests that can be performed
                on a system, including unit tests, integration tests, functional
                tests, regression tests, performance tests, and security tests.
                The specific types of tests that are appropriate for a given
                system will depend on the nature of the system and the goals of
                the testing.
              </p>
              <p>
                Testing is typically done by a combination of automated tests
                and manual tests. Automated tests are run using specialized
                software tools, and they can be run quickly and consistently.
                Manual tests are performed by a human tester, and they are
                typically used to test scenarios that are difficult to automate
                or to validate the results of automated tests.
              </p>
              <p>
                Overall, testing is an important part of the software
                development process, as it helps to ensure that the software is
                of high quality and is fit for its intended purpose.
              </p>
            </section>

            <hr class="divider" />

            <!-- HTML Structure
		============================ -->
            <section id="idocs_html_structure1">
              <h2>Testing Types</h2>
              <p>
                There are several different types of tests that you can write
                for your application, depending on your goals and the nature of
                your code. Here are a few common types of tests:
              </p>
              <ol>
                <li>
                  <strong>Unit tests</strong>: These tests focus on testing a
                  single unit of code, such as a function or method, in
                  isolation from the rest of the application. Unit tests are
                  typically small and fast, and they are used to ensure that
                  individual units of code are working correctly.
                </li>
                <li>
                  <strong>Integration tests</strong>: These tests focus on
                  testing the interaction between different parts of the
                  application. Integration tests are used to ensure that
                  different components of the application work together
                  correctly.
                </li>
                <li>
                  <strong>Functional tests</strong>: These tests focus on
                  testing the functionality of the application from the user's
                  perspective. Functional tests simulate a user interacting with
                  the application, and are used to ensure that the application
                  is working correctly from end to end.
                </li>
                <li>
                  <strong>Regression tests</strong>: These tests are used to
                  ensure that changes to the code have not introduced any new
                  bugs or regressions. Regression tests are often run after
                  making changes to the code to ensure that the changes have not
                  broken any existing functionality.
                </li>
                <li>
                  <strong>Performance tests</strong>: These tests are used to
                  measure the performance of the application and identify any
                  bottlenecks or issues. Performance tests can be run under
                  different load scenarios to simulate real-world usage and
                  identify any performance issues.
                </li>
                <li>
                  <strong>Security tests</strong>: These tests are used to
                  identify any security vulnerabilities in the application.
                  Security tests can include testing for common vulnerabilities
                  such as SQL injection attacks or cross-site scripting (XSS)
                  attacks.
                </li>
              </ol>
              <p>
                Which types of tests you choose to write will depend on the
                nature of your application and the goals of your testing. It's
                generally a good idea to write a mix of different types of tests
                to ensure that your
              </p>
            </section>

            <hr class="divider" />

            <!-- Sass
		============================ -->
            <section id="idocs_sass1">
              <h2>Unit Test</h2>
              <p>
                A unit test is a type of automated test that focuses on testing
                a single unit of code, such as a function or method, in
                isolation from the rest of the application. Unit tests are
                typically small and fast, and they are used to ensure that
                individual units of code are working correctly. Unit tests are
                typically written by developers as part of the development
                process, and they are usually run automatically as part of the
                build process. This helps to ensure that changes to the code
                have not introduced any new bugs or regressions. Unit tests are
                typically written using a testing framework, such as pytest,
                JUnit, or NUnit. The testing framework provides a set of tools
                and APIs that make it easier to write, run, and maintain unit
                tests. Overall, unit tests are an important part of the software
                development process, as they help to ensure that the code is of
                high quality and is working correctly. By writing and
                maintaining a suite of unit tests, you can catch bugs and other
                issues early on, which can save time and effort in the long run.
              </p>
              <p>
                There are a few common patterns that are often followed when
                writing unit tests:
              </p>
              <ol>
                <li>
                  <strong>Arrange-Act-Assert (AAA)</strong>: The AAA pattern
                  involves setting up the test inputs (arrange), executing the
                  code under test (act), and then verifying the output (assert).
                  This pattern helps to organize the test code and make it
                  easier to understand.
                </li>
                <li>
                  <strong>Given-When-Then </strong>: The Given-When-Then pattern
                  is similar to the AAA pattern, but it emphasizes the role of
                  the inputs and outputs in the test. The "given" step
                  represents the setup of the test inputs, the "when" step
                  represents the execution of the code under test, and the
                  "then" step represents the verification of the output.
                </li>
                <li>
                  <strong>Test-driven development (TDD): </strong> TDD is a
                  software development process in which unit tests are written
                  before the code they are testing. The goal of TDD is to write
                  code that is specifically designed to pass the unit tests,
                  which helps to ensure that the code is correct and of high
                  quality.
                </li>
                <li>
                  <strong>Behavior-driven development (BDD): </strong>BDD is a
                  software development process in which tests are written in a
                  natural language syntax that describes the behavior of the
                  system under test. BDD tests are often more high-level and
                  focus on the overall behavior of the system rather than
                  individual units of code.
                </li>
              </ol>
              <p>
                Which pattern you choose to follow when writing unit tests will
                depend on your personal preference and the needs of your
                project. It's generally a good idea to choose a pattern that is
                easy to understand and that helps to ensure that your tests are
                well-structured and maintainable.
              </p>
            </section>

            <hr class="divider" />

            <!-- Color Schemes
		============================ -->
            <section id="idocs_color_schemes1">
              <h2>What is Pytest</h2>
              <p>
                pytest is a testing framework for Python that makes it easy to
                write and run tests. Here are some of the fundamental concepts
                and features of pytest:
              </p>
              <ol>
                <li>
                  <strong>Test functions</strong>: pytest tests are defined
                  using functions. To write a test using pytest, you define a
                  function that represents the test and decorate it with the
                  @pytest.mark.test decorator. The test function should contain
                  the code that exercises the code being tested and makes
                  assertions about the expected behavior.
                </li>
                <li>
                  <strong>Test discovery</strong>: pytest can automatically
                  discover and run tests in your codebase. By default, pytest
                  will look for test functions in files with names that match
                  the pattern test_*.py or *_test.py, and it will also look for
                  test functions inside classes that are decorated with the
                  @pytest.mark.test decorator.
                </li>
                <li>
                  <strong>Test fixtures</strong>: pytest allows you to define
                  fixtures that can be used to set up and clean up resources
                  needed by your tests. Fixtures are defined using functions
                  decorated with the @pytest.fixture decorator, and they can be
                  passed as arguments to test functions to provide access to the
                  resources they manage.
                </li>
              </ol>
            </section>

            <hr class="divider" />
            <!-- Getting Started
		============================ -->
            <section id="idocs_start">
              <h1>Pytest</h1>
            </section>

            <hr class="divider" />

            <!-- Installation
		============================ -->
            <section id="idocs_installation">
              <h2>Installation</h2>
              <p class="lead">
                To install Pytest, you need to have Python installed on your
                system. If you don't have Python installed, you can download and
                install it from the official Python website
                (https://www.python.org/). :
              </p>
              <p>
                Once you have Python installed, you can use pip, the package
                manager for Python, to install Pytest. To install Pytest using
                pip, follow these steps:
              </p>
              <ol>
                <li>Open a terminal or command prompt window</li>
                <li>
                  Make sure that you have the latest version of
                  <strong>pip</strong> by running the following command:
                  <strong>pip install --upgrade pip</strong>
                </li>
                <li>
                  Install Pytest by running the following command:
                  <strong>pip install pytest</strong>
                </li>
                <li>
                  <p>
                    That's it! Pytest should now be installed on your system and
                    ready to use. You can verify that Pytest is installed by
                    running the pytest --version command, which should print the
                    version number of Pytest that you have installed.
                    Alternatively, you can also install Pytest from source by
                    downloading the source code from the Pytest GitHub
                    repository (https://github.com/pytest-dev/pytest) and
                    running the python setup.py install command. However, this
                    method is not recommended unless you have a specific reason
                    for installing Pytest from source.
                  </p>
                </li>
              </ol>
            </section>

            <hr class="divider" />

            <!-- HTML Structure
		============================ -->

            <hr class="divider" />

            <!-- Customization
		============================ -->

            <!-- Layout
		============================ -->
            <section id="idocs_layout">
              <h2>Demo Practice</h2>
              <p class="lead mb-5">Examples Using Pytest</p>
            </section>

            <!-- Header
		============================ -->
            <section id="idocs_header">
              <h2>Demo Test using Pytest</h2>
              <iframe
                frameborder="0"
                width="100%"
                height="700px"
                src="https://replit.com/@BELHAIMERABDELK/Testing?embed=true"
              ></iframe>
            </section>

            <hr class="divider" />

            <!-- Navbar
		============================ -->

            <hr class="divider" />

            <!-- Image
		============================ -->

            <hr class="divider" />
            <section id="idocs_installation4">
              <h2>Installation</h2>
              <p class="lead">
                To install Pytest, you need to have Python installed on your
                system. If you don't have Python installed, you can download and
                install it from the official Python website
                (https://www.python.org/). :
              </p>
              <p>
                Once you have Python installed, you can use pip, the package
                manager for Python, to install Pytest. To install Pytest using
                pip, follow these steps:
              </p>
              <ol>
                <li>Open a terminal or command prompt window</li>
                <li>
                  Make sure that you have the latest version of
                  <strong>pip</strong> by running the following command:
                  <strong>pip install --upgrade pip</strong>
                </li>
                <li>
                  Install Pytest by running the following command:
                  <strong>pip install pytest</strong>
                </li>
                <li>
                  <p>
                    That's it! Pytest should now be installed on your system and
                    ready to use. You can verify that Pytest is installed by
                    running the pytest --version command, which should print the
                    version number of Pytest that you have installed.
                    Alternatively, you can also install Pytest from source by
                    downloading the source code from the Pytest GitHub
                    repository (https://github.com/pytest-dev/pytest) and
                    running the python setup.py install command. However, this
                    method is not recommended unless you have a specific reason
                    for installing Pytest from source.
                  </p>
                </li>
              </ol>
            </section>
            <!-- Changelog	============================ -->
            <section id="idocs_html_structure5">
              <h2>performance testing</h2>
              <p>What is performance testing</p>
              <section id="idocs_installation5">
                <p>
                  Performance testing is the process of evaluating the
                  performance characteristics of a system or application under a
                  defined workload. It is typically conducted to ensure that a
                  system meets the performance requirements specified in its
                  design and can handle the expected workload in a production
                  environment.
                </p>
                <p>
                  There are many different approaches to performance testing,
                  depending on the type of system being tested and the
                  performance characteristics that are of interest. Some common
                  types of performance tests include:
                </p>
              </section>
              <ol>
                <li>
                  Load testing: This involves subjecting a system to increasing
                  levels of workload to determine how well it performs under
                  different levels of demand. This can help identify bottlenecks
                  and performance issues that may not be apparent at lower
                  workloads.
                </li>
                <li>
                  Stress testing: This involves subjecting a system to extreme
                  levels of workload to determine how it performs under extreme
                  conditions. This can help identify the maximum capacity of a
                  system and the point at which it begins to degrade or fail.
                </li>
                <li>
                  Endurance testing: This involves subjecting a system to a
                  sustained workload over an extended period of time to
                  determine how it performs under long-term conditions. This can
                  help identify performance issues that may not manifest until
                  after the system has been in operation for a prolonged period.
                </li>
                <li>
                  Scalability testing: This involves testing a system's ability
                  to handle increased workload by adding more resources (e.g.,
                  CPU, memory, network bandwidth). This can help identify the
                  optimal configuration for a system and the point at which
                  adding additional resources no longer improves performance.
                </li>
              </ol>
              <p>
                Performance testing is typically conducted using specialized
                tools and frameworks that are designed to generate and measure
                the performance of a system under a variety of workloads. These
                tools can be used to simulate different types of user behavior,
                measure response times and throughput, and collect other
                performance-related data.
              </p>
              <p>
                It is important to carefully plan and design a performance
                testing strategy to ensure that the tests are representative of
                the expected production workload and are able to accurately
                measure the desired performance characteristics.
              </p>
            </section>
            <section id="idocs_sass5">
              <h2>Pytest Benchmarks</h2>
              <p>Pytest Benchmarks</p>

              <p>
                pytest is a popular testing framework for Python that can be
                used to write and execute unit tests, integration tests, and
                functional tests. It includes several features that make it easy
                to write and run tests, including support for test discovery,
                automatic test execution, and the ability to run tests in
                parallel.
              </p>
              <p>
                pytest also includes a benchmarking feature that allows you to
                measure the performance of individual test functions or groups
                of test functions. This can be useful for identifying
                performance issues in your code and for tracking the performance
                of your tests over time.
              </p>
              <p>
                To use the benchmarking feature in pytest, you will need to
                install the pytest-benchmark plugin. Once the plugin is
                installed, you can use the @pytest.mark.benchmark decorator to
                mark a test function as a benchmark. When you run the tests,
                pytest will execute the benchmark function multiple times and
                collect performance data, including the minimum, maximum, and
                average execution time.
              </p>
              <img src="{% static 'images/screenshot-compare.png' %}" alt="" />
              <img
                src="{% static 'images/sample-tests_test_normal.py_test_xfast_parametrized[0].svg' %}"
                alt=""
              />
            </section>
            <section id="idocs_color_schemes5">
              <h2>Pytest Timeout</h2>
              <p>
                pytest-timeout is a plugin for pytest that allows you to specify
                a timeout for individual test functions or groups of test
                functions. This can be useful for performance testing, as it
                allows you to fail a test if it takes longer than a specified
                amount of time to execute.
              </p>
              <p>
                To use pytest-timeout, you will need to install the plugin and
                then use the @pytest.mark.timeout decorator to mark a test
                function or group of test functions with a timeout. Here is an
                example of how to use the @pytest.mark.timeout decorator to
                specify a timeout for a test function:
              </p>
              <p>
                To use pytest-timeout, you will need to install the plugin and
                then use the @pytest.mark.timeout decorator to mark a test
                function or group of test functions with a timeout. Here is an
                example of how to use the @pytest.mark.timeout decorator to
                specify a timeout for a test function:
              </p>
              <pre>
                <code>
import pytest

@pytest.mark.timeout(5)  # timeout in seconds
def test_function_with_timeout():
    # Test code goes here
    pass

                </code>
              </pre>
              <p>
                This will cause the test to fail if it takes longer than 5
                seconds to execute. You can also use the @pytest.mark.timeout
                decorator to specify a timeout for a group of test functions by
                applying it to a test class or module.
              </p>
              <pre>
                <code>
import pytest

@pytest.mark.timeout(5)  # timeout in seconds
class TestClassWithTimeout:
    def test_function_1(self):
        # Test code goes here
        pass

    def test_function_2(self):
        # Test code goes here
        pass

                </code>
              </pre>
            </section>
          </div>
        </div>
      </div>
      <!-- Content end -->

      <!-- Footer
  ============================ -->
      <footer id="footer" class="section bg-dark footer-text-light">
        <div class="container">
          <ul
            class="social-icons social-icons-lg social-icons-muted justify-content-center mb-3"
          >
            <li>
              <a
                data-toggle="tooltip"
                href="https://twitter.com/harnishdesign/"
                target="_blank"
                title=""
                data-original-title="Twitter"
                ><i class="fab fa-twitter"></i
              ></a>
            </li>
            <li>
              <a
                data-toggle="tooltip"
                href="http://www.facebook.com/harnishdesign/"
                target="_blank"
                title=""
                data-original-title="Facebook"
                ><i class="fab fa-facebook-f"></i
              ></a>
            </li>
            <li>
              <a
                data-toggle="tooltip"
                href="http://www.dribbble.com/harnishdesign/"
                target="_blank"
                title=""
                data-original-title="Dribbble"
                ><i class="fab fa-dribbble"></i
              ></a>
            </li>
            <li>
              <a
                data-toggle="tooltip"
                href="http://www.github.com/"
                target="_blank"
                title=""
                data-original-title="GitHub"
                ><i class="fab fa-github"></i
              ></a>
            </li>
          </ul>
          <p class="text-center">
            Copyright &copy; 2020
            <a
              href="http://www.harnishdesign.net/idocs-one-page-documentation-html-template/"
              >iDocs</a
            >. All Rights Reserved.
          </p>
          <p class="text-2 text-center mb-0">
            Design &amp; Develop by
            <a
              class="btn-link"
              target="_blank"
              href="http://www.harnishdesign.net/"
              >HarnishDesign</a
            >.
          </p>
        </div>
      </footer>
      <!-- Footer end -->
    </div>
    <!-- Document Wrapper end -->

    <!-- Back To Top -->
    <a
      id="back-to-top"
      data-toggle="tooltip"
      title="Back to Top"
      href="javascript:void(0)"
      ><i class="fa fa-chevron-up"></i
    ></a>
    <script>
      hljs.highlightAll();
    </script>
    <!-- JavaScript
============================ -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Highlight JS -->
    <script src="{% static 'vendor/highlight.js/highlight.min.js' %}"></script>
    <!-- Easing -->
    <script src="{% static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>
    <!-- Magnific Popup -->
    <script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <!-- Custom Script -->
    <script src="{% static 'js/theme.js' %}"></script>
    <script>
      fetch("https://replit.com/@BELHAIMERABDELK/Testing")
        .then((response) => response.json())
        .then((data) => {
          // Use the "html" field of the oEmbed data to embed the Repl.it code or shell
          document.getElementById("ter").innerHTML = data.html;
        });
    </script>
  </body>
</html>
